@import url("components/avatar.css");
@import url("components/tabs.css");
@import url("components/profile_header.css");
@import url("components/list.css");
@import url("components/card.css");
@import url("components/button.css");
@import url("components/message.css");
@import url("components/banner.css");
@import url("components/navbar.css");
@import url("components/photo-card.css");
@import url("components/parallax.css");
@import url("components/footer.css");
@import url("layouts/main-grid.css");

body {
  margin: 0;
  font-family: 'Slabo 27px', sans-serif;
}
h2, h3 {
  font-family: 'Slabo 27px', sans-serif;
}

h2 {
  font-size: 50px;
}

a {
  text-decoration: none !important;
}

h1 {
  font-family: 'Krub', sans-serif;
  margin:0;
}
