body {
  background-color: rgb(245,245,245)
  color: rgb(100,100,100);
  font-family: 'Slabo 27px', serif;
  letter-spacing: 1px
}

h1 {
  color:#d18640;
  font-family: 'Rubik', sans-serif;
}

h2 {
  color:#ed4d0f;
}

a {
  text-decoration: none;
  color:rgb(150,150,150);
}

a:hover {
  color:#d18640;
}

table img {
  width: 150px
}

td {
  padding:20px;
}

ul {
  padding-left: 0
}

#bio ul {
  margin-top: 30px;
}

#bio li {
  display:inline;
  padding:0 10px;
}

#bio li:hover {
  font-size: 18px;
}

.container {
  margin:35px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 70%;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 80%;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 90%;
  }
}

@media (min-width: 961px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 60%;
  }
}

.card {
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.avatar {
  width:200px;
  height:200px;
  object-fit: cover;
  border-radius: 50%;
  float:right;
  margin:3px;
}

.avatar:hover {
  width:201px;
  height:201px;
  cursor:pointer;
}

.btn {
  border-radius: 7px;
  padding: 10px 15px;
  margin: 30px, 0px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.btn-red {
  background-color: #c73413;
  color:rgb(245,245,245);
  border:1px solid rgba(250, 252, 204, 0.5);
}

.btn-red:hover {
  color:white;
  font-weight: 800;
}

.item {
height:250px;
}

.carousel-inner > .item > img {
  position:relative;
  margin: auto auto;
}

.photography-image {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
  margin: 10px 0;
  background-color: #f9f6ef;
  color: rgb(100,100,100);
}

.photography-image:hover {
  box-shadow: 3px 2px 4px rgba(0,0,0,0.1);
  width:100%;
}

.photography-image img {
  border:2px solid rgba(0,0,0,0.2);
  position:relative;
  width:100%;
}

.photography-image img:hover {
  border-bottom: none;
}

.caption {
  padding:5px 0;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(200,200,200);
  padding-top: 35px;
  background-color: #a24a4a;
  border-right:1px solid rgba(0,0,0,0.2);
  box-shadow: 2px 0px 1px rgba(0,0,0,0.1);
}

#myCarousel {
  height:250px;
}

#sidebar li {
  display:block;
  text-align: center;
  padding:0 30px 30px 30px;
  color:black;
}

#sidebar a:hover {
  font-size: 25px;
}

#sidebar-top:hover:after {
  content:" top";
}

#sidebar-top:hover {
  color: white;
  min-width: 230px;
}

#sidebar-bio:hover:after {
  content:" bio";
}

#sidebar-bio:hover {
  color:#1536ef;
  min-width: 230px;
}

#sidebar-tech:hover:after {
  content:" tech";
}

#sidebar-tech:hover {
  color:yellow;
  min-width: 230px;
}

#sidebar-photography:hover:after {
  content:" photography";
}

#sidebar-photography:hover {
  color:#1ef1ff;
  min-width: 230px;
}

#sidebar-bottom:hover:after {
  content:" bottom";
}

#sidebar-bottom:hover {
  color:#12ef12;
  min-width: 230px;
}

#page-content {
  margin-left: 10%;
}

#profile-header {
  text-align: left;
}

#bio h2, p {
  text-align: left;
}

#bio {
  padding:25px;
}

#img-1:hover:after {
content: "Action: My dogs playing together";
}

#img-2:hover:after {
content: "Drone: Me in the river Wear in Durham";
}

#img-3:hover:after {
content: "Still Life: A Hibiscus flower in a church garden in Tbilisi";
}

#img-4:hover:after {
content: "Portraits: Two rowers before the start of a big race";
}

#img-5:hover:after {
content: "Sport: rowers from above";
}

#img-6:hover:after {
content: "Drone practical applications: farm land surveillance";
}
