.page-content {
  margin-top: 65px;
}

.cards {
  display: grid;
  grid-template-columns: 50% 1fr 1fr 1fr;
  grid-template-rows: 25% 30% 20% 25%;
}

#bio {
  grid-column: 2 / span 3;
  grid-row: 1/ span 1;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#bio ul {
  margin-top: 30px;
}

#bio li {
  display:inline;
  padding:0 10px;
}

#bio li:hover {
  font-size: 18px;
}

#profile-header {
  grid-row: 1 / span 2;
  grid-column: 1 /span ;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#tech {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
}

.page-content h2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.span-2 {
  grid-column: 4 / span 1 ;
}

.my-photos {
  grid-column:1 / span 4;
  grid-row-start: 4;
}

#education {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

#education li {
  display: block;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-row:3 / span 1;
  grid-column: 2 / span 3;
}
