.card {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  margin:1px;
  background-color:rgb(69, 98, 119);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card:hover {
  margin:0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

