/* Your card CSS code here */
.card {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  margin:2px;
  background-color: rgb(245,245,245);
}

.card:hover {
  margin:2px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  /*cursor: pointer;*/
}

.card h1 {
  position:relative;
  color: rgb(230,230,230);
  font-size: 50px;
  top: 40%;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  font-family: 'Montserrat', sans-serif;
}

