.card {
  flex: 1 0 auto;
  box-shadow: 50px 35px 100px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 300px;
  margin: 10px;
  margin-right: 100px;
  padding: 10px;
  color: rgb(69, 98, 119);
  background-color: #FFFFE7;
  mix-blend-mode: hard-light;
  filter: sepia(0.25);
}

.card img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  filter: sepia(0.25);
}

.hole {
  width: 20px;
  height: 20px;
  margin: 10px 0 0 0;
  border: 1px inset rgba(0,0,0,0.05);
  border-radius: 50%;
  background-color: #B0B2B1;
  position: relative;
  top: -7px;
}

.knot {
  position: relative;
  top: -25px;
}

