.inner-wrapper {
  transition: 1.5s ease !important;
}

.item .inner-wrapper {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 55vh;
}

@media (max-width: 960px) {
  .item .inner-wrapper {
    width: 100vw;
  }
}

.carousel-control {
  background: rgba(0,0,0,0) !important;
}

.glyphicon {
  color: inherit;
  mix-blend-mode: difference !important;
}
