/* We just give you the arrow CSS code */
.product-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

.product {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-top: 15px
  border-radius: 5px;
}

.product-body {
  flex-grow: 1;
}

.product-controls * {
  margin:3px;
  color: rgba(0,0,0,0.1);
}

.product-controls i:hover {
  color: rgba(0,0,0,0.6);
}

.product-upvote * {
  margin-top: 3px;
  font-size: 14px
}

.product-body {
  margin-left: 20px
}

.product-image {
  margin-left: 20px
}

.product:hover {
  background-color: rgba(131, 160, 125, 0.3);
}

.product:hover .product-upvote * {
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
