.inbox {
  padding-left: 0px;
  list-style: none;
}
.message {
  /* Your turn to design a flexbox message */
  display:flex;
  align-items: center;
}

.message * {
  margin:10px;
}

.message-content {
  flex-grow: 1;
  color: rgb(80,80,80);
}

.message-from {
  font-weight: bold;
  color: rgb(30,30,30);
}

.message-received-at {
  color: rgb(190,190,190);
  font-size: 14px;
}

.message:hover {
  background-color: #eddc5c;
  transition: 0.3s ease;
  color:#f7f5e1;
}

.message:active {
  background-color: #f2d91a;
  transition: 0.2s ease;
  color:#f7f5e1;
}
