.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  background-color: #a24a4a;
  border-bottom:1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 2px 1px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
}

.navbar p {
  display:inline;
  text-align: center;
  color:black;
}

.navbar a:hover {
  font-size: 25px;
  text-decoration: none;
}

.navbar a:hover .navbar ul {
  margin-top: 18px;
}

#navbar-top:hover:after {
  content:" top";
}

#navbar-top:hover {
  color: white;
}

#navbar-bio:hover:after {
  content:" bio";
}

#navbar-bio:hover {
  color:#1536ef;
}

#navbar-tech:hover:after {
  content:" tech";
}

#navbar-tech:hover {
  color:yellow;
}

#navbar-photography:hover:after {
  content:" photography";
}

#navbar-photography:hover {
  color:#1ef1ff;
}

#navbar-bottom:hover:after {
  content:" bottom";
}

#navbar-bottom:hover {
  color:#12ef12;
}
