.photography-image {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
  margin: 10px 0;
  background-color: #f9f6ef;
  color: rgb(100,100,100);
  height:auto !important;
  max-width: 600px !important;
}

.photography-image img {
  border:2px solid rgba(0,0,0,0.2);
  position:relative;
  width:100%;
}

.photography-image img:hover {
  border-bottom: none;
}

#img-1:hover:after {
content: "Action: My dogs playing together";
}

#img-2:hover:after {
content: "Drone: Me in the river Wear in Durham";
}

#img-3:hover:after {
content: "Still Life: A Hibiscus flower in a church garden in Tbilisi";
}

#img-4:hover:after {
content: "Portraits: Two rowers before the start of a big race";
}

#img-5:hover:after {
content: "Sport: rowers from above";
}

#img-6:hover:after {
content: "Drone practical applications: farm land surveillance";
}
